html body.login {
	background-color: #3e4748;
}
body.login h1{
	float: left;
  	width: 100%;
  	text-align: center;
}
body.login h1 a {
	background-image: none !important;
	width: 250px;
	margin: 0 auto;
}
body.login label {
	color: #3e4748;
	font-family: sans-serif;
}
body.login input.button-primary {
	margin-top: 5px;
	width: 100px;
	background: #00caa9;
	border: none;
	font-weight: bold;
	color: #fff;
	border-radius: 0;
	box-shadow: none;
	border: 0;
	text-shadow: none;
	-webkit-transition: background-color 300ms, color 300ms;
	   -moz-transition: background-color 300ms, color 300ms;
	    -ms-transition: background-color 300ms, color 300ms;
	     -o-transition: background-color 300ms, color 300ms;
	        transition: background-color 300ms, color 300ms;
}
body.login input.button-primary:hover,
body.login input.button-primary:focus {
	background: #2998e4;
	outline: none;
	box-shadow: none;
}
body.login input.button-primary:active {
	background: #ddd;
}
body.login input[type=password] {
	margin-top: 10px;
	padding: 2px 10px;
	background-color: #fff;
	color: #3e4748;
	font-size: 25px;
	border: none;
	box-shadow: none;
}
body.login form {
	margin: 0 auto;
	background-color: #a0abad;
	border: none;
	width: 280px;
	padding: 20px;
	clear: both;
	border-radius: 0 !important;
}